.button{
    display: flex;
    flex:1;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-weight: lighter;
    height:4em;
    outline: 1px solid black;
}

.operator{
    background-color: orange;
    font-weight: bold;
    color: white;
}